/* Start global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

body {
    font-family: "Work Sans",sans-serif;
    background-color: #f3f3f3;
}   

/* End global rules */

/* Start global variables */
:root{
    --main-color: rgb(216, 72, 19);
    --second-color: rgb(219, 217, 217);
}

/* end global variables */
/*---------------------------------------------------------------------------------------------------------------------------------------*/
body{
    background-color: #202020;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #252424;
    padding:35px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25), inset 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}   

.screen{
    width: 340px;
    background-color: #a7af7c;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    word-break: break-all;
    overflow:scroll;
}

.screen::-webkit-scrollbar{
    display: none;
}

.result{
    font-size: larger;
    color: #1479c9;
    background-color: red;
    width: 50px;
    height: 100px;
}


.btn{
    width: 70px;
    height: 70px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    
    font-size: larger;
    font-weight: 600;
    position: relative;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
}

.clicked{
    opacity: 50%;
}

span{
    content:"";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 10px;
    right: 8px;
    border-radius: 10px;
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: white;
}


.btn:active{
    filter: brightness(1.5);
}

.clear{
    background: linear-gradient(90deg, #1479c9, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.clearBtn{
    width: 250px;
    background: #1479c9;
}


.equalBtn{
    background: #04cf04dd;
}

.equal{
    background: linear-gradient(90deg, #05ad05dd, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.closeBtn{
    background: #f00;
    
}

.close{
    background: linear-gradient(90deg, #cb0303, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.row{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}